.description{
    color:yellow;
    max-width: 600px;
    margin-left:24px;
}

.content__container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.niiyazha{
    display:block;
    width:auto;
    height:auto;
    min-width:300px;
}